In [128]:
import pandas as pd
import matplotlib

In [129]:
import glob

In [130]:
files = glob.glob('/Users/wzhang/Documents/1975-1998/*.csv')

In [131]:
print(files)
print(len(files))

['/Users/wzhang/Documents/1975-1998/1991 - 1992 PERSON.csv', '/Users/wzhang/Documents/1975-1998/1975 - 1981 PERSON.csv', '/Users/wzhang/Documents/1975-1998/1982 - 1986 PERSON.csv', '/Users/wzhang/Documents/1975-1998/1993-1998 PERSON.csv', '/Users/wzhang/Documents/1975-1998/1987 - 1990 PERSON.csv']
5

In [132]:
dfs = []
for file in files:
    df = pd.read_csv(file, encoding='latin-1', engine='python' ,on_bad_lines='skip')
    dfs.append(df)
print(dfs)

[        STATE  COUNTY  MONTH  DAY  HOUR  MINUTE  VE_FORMS  ROAD_FNC  HARM_EV  \
0           1      73      1    1     4      48         1        14       30
1           1      73      1    1     1      45         1         4        1
2           1      89      1    1    21      30         3        13       13
3           1      89      1    1    21      30         3        13       13
4           1      89      1    1    21      30         3        13       13
...       ...     ...    ...  ...   ...     ...       ...       ...      ...
195055     56      37     11   23    19       0         1         4        5
195056     56      17     12   27     5      30         1         2       24
195057     56      17     12   27     5      30         1         2       24
195058     56       1     12   23    17      35         1         4       31
195059     56      37     12   31    22      50         1        14       19

        MAN_COLL  ...  VINA_MOD  VIN_BT  REST_USE  AIR_BAG  EJ_PATH  DRUGS  \
0              0  ...       CII      4H         0        9        0      9
1              0  ...       SC1      PC         9        9        9      9
2              4  ...       CHS      4H         9        9        0      9
3              4  ...       CHS      4H         9        9        0      8
4              4  ...       CVI      SW         3        9        0      0
...          ...  ...       ...     ...       ...      ...      ...    ...
195055         0  ...       SK1      PK         0        9        0      8
195056         0  ...       W15      PK         0        9        0      8
195057         0  ...       W15      PK         0        9        0      8
195058         0  ...       MLS      UT         0        9        3      8
195059         0  ...       8Z2      CP         0        9        0      8

        DRUG_DET  DRUGTEST  DRUG_RES  ALC_RES
0              8         0         0       96
1              8         0         0       96
2              8         0         0       96
3              8         0         0       96
4              8         0         0        0
...          ...       ...       ...      ...
195055         8         1        97       31
195056         8         0         0        0
195057         8         0         0       96
195058         8         0         0       96
195059         8         0         0       26

[195060 rows x 66 columns],         STATE  COUNTY  MONTH  DAY  HOUR  MINUTE  VE_FORMS  ROAD_FNC  HARM_EV  \
0           1      73      1    6    17      30         2       6.0       12
1           1      73      1    6    17      30         2       6.0       12
2           1     129      1    2    18      10         1       3.0       27
3           1     129      1    2    18      10         1       3.0       27
4           1     129      1    2    18      10         1       3.0       27
...       ...     ...    ...  ...   ...     ...       ...       ...      ...
777396     56      21     12   29    17      54         2       NaN       12
777397     56      21     12   29    17      54         2       NaN       12
777398     56      21     12   29    17      54         2       NaN       12
777399     56      19     12   30    19      50         1       NaN        5
777400     56      19     12   30    19      50         1       NaN        5

        MAN_COLL  ...  P_CF3  ST_CASE  MAK_MOD  VIN_WGT  WHLBS_SH  WHLBS_LG  \
0              2  ...      0    10001   2102.0   3471.0    1160.0       0.0
1              2  ...      0    10001   2001.0   3000.0    1100.0    1150.0
2              0  ...      0    10002   1206.0   4190.0    1210.0       0.0
3              0  ...      0    10002   1206.0   4190.0    1210.0       0.0
4              0  ...      0    10002   1206.0   4190.0    1210.0       0.0
...          ...  ...    ...      ...      ...      ...       ...       ...
777396         2  ...      0   560171   3002.0   1698.0     945.0       0.0
777397         2  ...      0   560171   3002.0   1698.0     945.0       0.0
777398         2  ...      0   560171   1210.0   3709.0    1140.0    1180.0
777399         0  ...      0   560172   2202.0   3735.0    1210.0       0.0
777400         0  ...      0   560172   2202.0   3735.0    1210.0       0.0

        MCYCL_DS  DEATH_TM  VINA_MOD  SER_TR
0            NaN       NaN       ROY     ***
1            NaN       NaN       MAL     ***
2            NaN       NaN       LTD     ***
3            NaN       NaN       LTD     ***
4            NaN       NaN       LTD     ***
...          ...       ...       ...     ...
777396       NaN    1754.0       TP1     ***
777397       NaN    1754.0       TP1     ***
777398       NaN       0.0       TOR     ***
777399       NaN       0.0       CAT     ***
777400       NaN       0.0       CAT     ***

[777401 rows x 57 columns],         STATE  COUNTY  MONTH  DAY  HOUR  MINUTE  VE_FORMS  ROAD_FNC  HARM_EV  \
0           1      89      1    2    22      35         1         8        8
1           1      89      1    2    22      35         1         8        8
2           1     101      1    4     2      15         2         3       24
3           1     101      1    4     2      15         2         3       24
4           1     101      1    4     2      15         2         3       24
...       ...     ...    ...  ...   ...     ...       ...       ...      ...
517897     56      23     12   21     8      30         2         3       12
517898     56      23     12   21     8      30         2         3       12
517899     56      23     12   21     8      30         2         3       12
517900     56      31     12   25    19      45         1         7        1
517901     56      31     12   25    19      45         1         7        1

        MAN_COLL  ...  ST_CASE  MAK_MOD  VIN_WGT  WHLBS_SH  WHLBS_LG  \
0              0  ...    10001      NaN      NaN       NaN       NaN
1              0  ...    10001   3732.0   2070.0     965.0       0.0
2              0  ...    10002   2101.0   3694.0    1120.0    1160.0
3              0  ...    10002   2101.0   3694.0    1120.0    1160.0
4              0  ...    10002   4972.0      NaN       NaN       NaN
...          ...  ...      ...      ...      ...       ...       ...
517897         2  ...   560173   2102.0   3444.0    1160.0       0.0
517898         2  ...   560173   2102.0   3444.0    1160.0       0.0
517899         2  ...   560173   2102.0   3444.0    1160.0       0.0
517900         0  ...   560174    734.0   1810.0     906.0       0.0
517901         0  ...   560174    734.0   1810.0     906.0       0.0

        MCYCL_DS  DEATH_TM  VINA_MOD  SER_TR  VIN_BT
0            NaN      9999       NaN     NaN     NaN
1            NaN         0       ACC     ***      4D
2            NaN       230       CSU     ***      2T
3            NaN         0       CSU     ***      2T
4            NaN         0       N44     HTP      PK
...          ...       ...       ...     ...     ...
517897       NaN         0       ROY     ***      CP
517898       NaN         0       ROY     ***      CP
517899       NaN         0       ROY     ***      CP
517900       NaN         0       CLT     ***      2H
517901       NaN      1945       CLT     ***      2H

[517902 rows x 59 columns],         STATE  COUNTY  MONTH  DAY  HOUR  MINUTE  VE_FORMS  ROAD_FNC  HARM_EV  \
0           1      49      1    1    21      32         2         4       12
1           1      49      1    1    21      32         2         4       12
2           1      49      1    1    21      32         2         4       12
3           1     113      1    1    15      55         1         6       34
4           1     113      1    1    15      55         1         6       34
...       ...     ...    ...  ...   ...     ...       ...       ...      ...
605275     56      25     12   10    20      35         2        13       12
605276     56      35     12   18    21      50         2         3       12
605277     56      35     12   18    21      50         2         3       12
605278     56      35     12   18    21      50         2         3       12
605279     56      35     12   31    20       0         1         3       31

        MAN_COLL  ...  EJ_PATH  ALC_RES  DRUGS  DRUG_DET  DRUGTST1  DRUGRES1  \
0              2  ...        0       21      9         8         1         1
1              2  ...        0       96      0         8         0         0
2              2  ...        0       96      0         8         0         0
3              0  ...        0       96      0         8         0         0
4              0  ...        0       96      8         8         0         0
...          ...  ...      ...      ...    ...       ...       ...       ...
605275         1  ...        0       96      8         8         0         0
605276         2  ...        0       40      8         8         0         0
605277         2  ...        0        0      8         8         0         0
605278         2  ...        0       96      8         8         0         0
605279         0  ...        2       23      8         8         3       997

        DRUGTST2  DRUGRES2  DRUGTST3  DRUGRES3
0              0         0         0         0
1              0         0         0         0
2              0         0         0         0
3              0         0         0         0
4              0         0         0         0
...          ...       ...       ...       ...
605275         0         0         0         0
605276         0         0         0         0
605277         0         0         0         0
605278         0         0         0         0
605279         0         0         0         0

[605280 rows x 70 columns],         STATE  COUNTY  MONTH  DAY  HOUR  MINUTE  VE_FORMS  ROAD_FNC  HARM_EV  \
0           1     117      1    7     6      45         1         1       42
1           1     125      1    1     1      38         1         6       30
2           1     125      1    1     1      38         1         6       30
3           1      97      1    3    17      30         2        13       12
4           1      97      1    3    17      30         2        13       12
...       ...     ...    ...  ...   ...     ...       ...       ...      ...
442053     56       1      3   28    23      15         2         1       23
442054     56       1      3   28    23      15         2         1       23
442055     56       1      3   28    23      15         2         1       23
442056     56       1      3   28    23      15         2         1       23
442057     56       1      3   28    23      15         2         1       23

        MAN_COLL  ...  ST_CASE  MAK_MOD  VIN_WGT  WHLBS_SH  WHLBS_LG  \
0              0  ...    10001   2209.0   3189.0    1010.0       0.0
1              0  ...    10002   2009.0   3305.0    1080.0       0.0
2              0  ...    10002   2009.0   3305.0    1080.0       0.0
3              4  ...    10003   8284.0      NaN       NaN       NaN
4              4  ...    10003   2002.0   3326.0    1160.0       0.0
...          ...  ...      ...      ...      ...       ...       ...
442053         0  ...   560114    107.0   2900.0    1080.0       0.0
442054         0  ...   560114    107.0   2900.0    1080.0       0.0
442055         0  ...   560114    107.0   2900.0    1080.0       0.0
442056         0  ...   560114   8284.0      NaN       NaN       NaN
442057         0  ...   560114   8284.0      NaN       NaN       NaN

        MCYCL_DS  DEATH_TM  SER_TR  VINA_MOD  VIN_BT
0            NaN       645     ***       FAM      2H
1            NaN       245     ***       CAM      CP
2            NaN         0     ***       CAM      CP
3            NaN         0     CON       FC2      DS
4            NaN      1950     ***       IMP      4D
...          ...       ...     ...       ...     ...
442053       NaN         0     ***       SPO      SW
442054       NaN      2315     ***       SPO      SW
442055       NaN         0     ***       SPO      SW
442056       NaN         0     CON       FLC      DS
442057       NaN         0     CON       FLC      DS

[442058 rows x 62 columns]]

In [133]:
for i in range(len(dfs)):
    for column in  dfs[i].columns:
        dfs[i][column] = dfs[i][column].astype(str)

In [134]:
print(dfs[1].columns)

Index(['STATE', 'COUNTY', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'VE_FORMS',
       'ROAD_FNC', 'HARM_EV', 'MAN_COLL', 'SCH_BUS', 'VEH_NO', 'MAKE',
       'BODY_TYP', 'MOD_YEAR', 'ROLLOVER', 'TOW_VEH', 'SPEC_USE', 'EMER_USE',
       'IMPACT1', 'IMPACT2', 'IMPACTS', 'FIRE_EXP', 'WGTCD_TR', 'PER_NO',
       'AGE', 'SEX', 'PER_TYP', 'SEAT_POS', 'MAN_REST', 'AUT_REST', 'LOCATION',
       'EJECTION', 'EXTRICAT', 'DRINKING', 'TEST_RES', 'INJ_SEV', 'HOSPITAL',
       'DEATH_MO', 'DEATH_DA', 'DEATH_YR', 'DEATH_HR', 'DEATH_MN', 'LAG_HRS',
       'LAG_MINS', 'P_CF1', 'P_CF2', 'P_CF3', 'ST_CASE', 'MAK_MOD', 'VIN_WGT',
       'WHLBS_SH', 'WHLBS_LG', 'MCYCL_DS', 'DEATH_TM', 'VINA_MOD', 'SER_TR'],
      dtype='object')

In [135]:
common_columns = dfs[0].columns.intersection(dfs[1].columns)
print(common_columns)
common_columns = common_columns.intersection(dfs[2].columns)
common_columns = common_columns.intersection(dfs[3].columns)
common_columns = common_columns.intersection(dfs[4].columns)
print(common_columns)
print(len(common_columns))

Index(['STATE', 'COUNTY', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'VE_FORMS',
       'ROAD_FNC', 'HARM_EV', 'MAN_COLL', 'SCH_BUS', 'VEH_NO', 'MAKE',
       'BODY_TYP', 'ROLLOVER', 'TOW_VEH', 'SPEC_USE', 'EMER_USE', 'IMPACT1',
       'IMPACT2', 'IMPACTS', 'FIRE_EXP', 'WGTCD_TR', 'PER_NO', 'AGE', 'SEX',
       'PER_TYP', 'SEAT_POS', 'LOCATION', 'EJECTION', 'EXTRICAT', 'DRINKING',
       'INJ_SEV', 'HOSPITAL', 'DEATH_MO', 'DEATH_DA', 'DEATH_YR', 'DEATH_HR',
       'DEATH_MN', 'LAG_HRS', 'LAG_MINS', 'P_CF1', 'P_CF2', 'P_CF3', 'ST_CASE',
       'MAK_MOD', 'VIN_WGT', 'WHLBS_SH', 'WHLBS_LG', 'MCYCL_DS', 'DEATH_TM',
       'SER_TR', 'VINA_MOD'],
      dtype='object')
Index(['STATE', 'COUNTY', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'VE_FORMS',
       'ROAD_FNC', 'HARM_EV', 'MAN_COLL', 'SCH_BUS', 'VEH_NO', 'MAKE',
       'BODY_TYP', 'ROLLOVER', 'TOW_VEH', 'SPEC_USE', 'EMER_USE', 'IMPACT1',
       'IMPACT2', 'IMPACTS', 'FIRE_EXP', 'WGTCD_TR', 'PER_NO', 'AGE', 'SEX',
       'PER_TYP', 'SEAT_POS', 'LOCATION', 'EJECTION', 'EXTRICAT', 'DRINKING',
       'INJ_SEV', 'HOSPITAL', 'DEATH_MO', 'DEATH_DA', 'DEATH_HR', 'DEATH_MN',
       'LAG_HRS', 'LAG_MINS', 'P_CF1', 'P_CF2', 'P_CF3', 'ST_CASE', 'MAK_MOD',
       'VIN_WGT', 'WHLBS_SH', 'WHLBS_LG', 'MCYCL_DS', 'DEATH_TM', 'SER_TR',
       'VINA_MOD'],
      dtype='object')
52

In [136]:
print(len(dfs[0].columns))

66

In [137]:
for i in range (len(dfs)):
    column_drop = []
    for column in dfs[i]:
        # print(column)
        if(column not in common_columns):
            column_drop.append(column)
    print(len(column_drop))
    dfs[i].drop(columns = column_drop,axis = 1, inplace = True)
    print(len(dfs[i].columns))

14
52
5
52
7
52
18
52
10
52

In [138]:
print(len(dfs[0].columns))
print(len(dfs[1].columns))
print(len(dfs[2].columns))
print(dfs[0])

52
52
52
       STATE COUNTY MONTH DAY HOUR MINUTE VE_FORMS ROAD_FNC HARM_EV MAN_COLL  \
0          1     73     1   1    4     48        1       14      30        0
1          1     73     1   1    1     45        1        4       1        0
2          1     89     1   1   21     30        3       13      13        4
3          1     89     1   1   21     30        3       13      13        4
4          1     89     1   1   21     30        3       13      13        4
...      ...    ...   ...  ..  ...    ...      ...      ...     ...      ...
195055    56     37    11  23   19      0        1        4       5        0
195056    56     17    12  27    5     30        1        2      24        0
195057    56     17    12  27    5     30        1        2      24        0
195058    56      1    12  23   17     35        1        4      31        0
195059    56     37    12  31   22     50        1       14      19        0

        ... P_CF3 ST_CASE  MAK_MOD VIN_WGT WHLBS_SH WHLBS_LG MCYCL_DS  \
0       ...     0   10001  20015.0  2429.0   1049.0      0.0      nan
1       ...     0   10002  23481.0     nan      nan      nan      nan
2       ...     0   10003  20013.0  2070.0    973.0      0.0      nan
3       ...     0   10003  20013.0  2070.0    973.0      0.0      nan
4       ...     0   10003  12006.0  3941.0   1143.0      0.0      nan
...     ...   ...     ...      ...     ...      ...      ...      ...
195055  ...     0  560104  23481.0     nan      nan      nan      nan
195056  ...     0  560105   7481.0     nan      nan      nan      nan
195057  ...     0  560105   7481.0     nan      nan      nan      nan
195058  ...     0  560106  52401.0     nan      nan      nan      nan
195059  ...     0  560107  35034.0  2870.0   1026.0      0.0      nan

       DEATH_TM SER_TR VINA_MOD
0           448    ***      CII
1           145    SIE      SC1
2          9999    ***      CHS
3             0    ***      CHS
4             0    ***      CVI
...         ...    ...      ...
195055     1955    SIE      SK1
195056      530    W15      W15
195057        0    W15      W15
195058     1743    MON      MLS
195059      443    ***      8Z2

[195060 rows x 52 columns]

In [139]:
result_1 = pd.concat(dfs, join='inner', axis=0)

In [140]:
print(result_1)

       STATE COUNTY MONTH DAY HOUR MINUTE VE_FORMS ROAD_FNC HARM_EV MAN_COLL  \
0          1     73     1   1    4     48        1       14      30        0
1          1     73     1   1    1     45        1        4       1        0
2          1     89     1   1   21     30        3       13      13        4
3          1     89     1   1   21     30        3       13      13        4
4          1     89     1   1   21     30        3       13      13        4
...      ...    ...   ...  ..  ...    ...      ...      ...     ...      ...
442053    56      1     3  28   23     15        2        1      23        0
442054    56      1     3  28   23     15        2        1      23        0
442055    56      1     3  28   23     15        2        1      23        0
442056    56      1     3  28   23     15        2        1      23        0
442057    56      1     3  28   23     15        2        1      23        0

        ... P_CF3 ST_CASE  MAK_MOD VIN_WGT WHLBS_SH WHLBS_LG MCYCL_DS  \
0       ...     0   10001  20015.0  2429.0   1049.0      0.0      nan
1       ...     0   10002  23481.0     nan      nan      nan      nan
2       ...     0   10003  20013.0  2070.0    973.0      0.0      nan
3       ...     0   10003  20013.0  2070.0    973.0      0.0      nan
4       ...     0   10003  12006.0  3941.0   1143.0      0.0      nan
...     ...   ...     ...      ...     ...      ...      ...      ...
442053  ...     0  560114    107.0  2900.0   1080.0      0.0      nan
442054  ...     0  560114    107.0  2900.0   1080.0      0.0      nan
442055  ...     0  560114    107.0  2900.0   1080.0      0.0      nan
442056  ...     0  560114   8284.0     nan      nan      nan      nan
442057  ...     0  560114   8284.0     nan      nan      nan      nan

       DEATH_TM SER_TR VINA_MOD
0           448    ***      CII
1           145    SIE      SC1
2          9999    ***      CHS
3             0    ***      CHS
4             0    ***      CVI
...         ...    ...      ...
442053        0    ***      SPO
442054     2315    ***      SPO
442055        0    ***      SPO
442056        0    CON      FLC
442057        0    CON      FLC

[2537701 rows x 52 columns]

In [141]:
result_1.to_csv("/Users/wzhang/Documents/test.csv")